.postion-sticky
{
  
}
.main-container
{
  min-height: 100vh;
  background-image: url('./Assets/bg/Header-BG.png');
}
.meta-verse
{
  min-height: 100vh;
  background-image: url('./Assets/bg/Metaverse-Bg.png');
}
.our-partner
{
  min-height: 100vh;
  background-image: url('./Assets/bg/Our-Partner-Bg.png');
}
.portfolio
{
  min-height: 100vh;
  background-image: url('./Assets/bg/Portfolio-Bg.png');
}
.road-map
{
  min-height: 100vh;
  background-image: url('./Assets/bg/Roadmap-Bg.png');
}